body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn-container {
  position: absolute;
  width: 302px;
  height: 300px;
  left: 40%;
  top: 50%;
  border-bottom-right-radius: 17px;
  /* background-color: #e8cccc; */
  border-bottom-left-radius: 17px;
  /* background-color: dimgrey; */
  /* background: rgb(2, 0, 36); */
  background: linear-gradient(
    rgb(189 179 179) 35%,
    rgb(190 179 179) 35%,
    #8a8383ed 66%
  );
  box-shadow: 1px 84px 28px 0px rgb(0 0 0 / 33%),
    0px 32px 33px 1px rgba(0, 0, 0, 0.22);
}

.wrapper {
  position: relative;
  width: 100%;
  height: 99%;
  box-sizing: border-box;
  border-radius: 60%;
  /* padding-bottom: 100%; */
  /* border: 1px solid green; */
  align-content: center;
}

.circle {
  position: relative;
  width: 90%;
  height: 100%;
  left: 5%;
  right: 5%;
  background-color: white;
  border-radius: 50%;
}

.smallCircle {
  margin-top: 25%;
  margin-left: 25%;
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: #c5bbbb;
  border-radius: 50%;
  z-index: 1;
}

#btn-playpause {
  position: absolute;
  display: block;
  height: 24px;
  width: 61px;
  left: 38%;
  top: 81%;
}
#btn-fastforward {
  position: absolute;
  display: block;
  height: 24px;
  width: 61px;
  left: 1%;
  top: 45%;
  transform: rotate(180deg);
}

#btn-fastbackward {
  position: absolute;
  display: block;
  height: 24px;
  width: 61px;
  left: 76%;
  top: 45%;
}
#btn-menu {
  position: absolute;
  display: block;
  height: 24px;
  width: 61px;
  left: 38%;
  top: 6%;
}
